@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-header {
    @apply my-8 text-4xl uppercase font-bold text-emerald-900 tracking-wide text-center md:text-6xl md:my-12
  }
}

@layer components {
  .header {
    @apply my-2 text-2xl uppercase font-extrabold text-emerald-900 tracking-wide md:text-4xl md:my-4
  }
}

@layer components {
  .cell {
    @apply border-inherit box-border p-2
  }
}

@layer components {
  .rates-grid {
    @apply grid grid-cols-3 text-center font-medium border-emerald-200 border-4 break-all
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}
